<footer>

	<div class="content-padding">
		<div class="footer-content ">

			<p>Copyright &copy; 2016 Bojan Vasilevski</p>

			<div class="social-media-icons">
				<a href="https://www.facebook.com/bvasilevski"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>

		</div>
	</div>
</footer>