
<nav class = 'navbar navbar-fixed-top '>
    <div class= 'content-padding'>
    <ul class = 'nav navbar-right navbar-nav'>
        <li><a href = '/'>Home</a></li>
        <li class = 'dropdown'><a class = 'dropdown-toggle' data-toggle='dropdown' href = '/' >Game Of Thrones
        <span class= 'caret'></span></a>
        <ul class = 'dropdown-menu'>
            <li><a href = '/gameofthrones/1'>Game of Thrones s1</a></li>
            <li><a href = '/gameofthrones/2'>Game of Thrones s2</a></li>
            <li><a href = '/gameofthrones/3'>Game of Thrones s3</a></li>
            <li><a href = '/gameofthrones/4'>Game of Thrones s4</a></li>
            <li><a href = '/gameofthrones/5'>Game of Thrones s5</a></li>
            <li><a href = '/gameofthrones/6'>Game of Thrones s6</a></li>
            </ul>
        </li>
</ul>
</div>
</nav>
